{% extends 'base.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block body %}
    <div class="section">
        <div class="container">
    <h1>Crud de productos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Precio</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Tamaño</th>
                <th>Modelo</th>
                <th>Color</th>
                <th>Peso</th>
                <th>Categoria</th>
                <th>Imagen</th>
                <th>Mostrar/Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td class="fuentenegra">{{ producto.id }}</td>
                <td class="fuentenegra">{{ producto.precio }}</td>
                <td class="fuentenegra">{{ producto.nombre }}</td>
                <td class="fuentenegra">{{ producto.descripcion }}</td>
                <td class="fuentenegra">{{ producto.tamano }}</td>
                <td class="fuentenegra">{{ producto.modelo }}</td>
                <td class="fuentenegra">{{ producto.color }}</td>
                <td class="fuentenegra">{{ producto.peso }}</td>
                 <td class="fuentenegra">{{ producto.categoria }}</td>
                <td class="fuentenegra"><img class="imgsizecrud" src="/img/{{ producto.imageName }}"></td>
                <td>
                    <a href="{{ path('app_producto_show', {'id': producto.id}) }}"><img src="/img/lupa.png"></a>
                    <a href="{{ path('app_producto_edit', {'id': producto.id}) }}"><img src="/img/lapiz.png"></a>
                     <a href="{{ path('app_descuento', {'id': producto.id}) }}"><img src="/img/descuento.png"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">No se han encontrado términos.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_producto_new') }}"><img src="/img/mas.png"></a>
    </div>
</div>
{% endblock %}

