{% extends 'base.html.twig' %}

{% block title %}Producto{% endblock %}

{% block body %}
    <div class="section">
        <div class="container">
         <a href="{{ path('app_producto_index') }}"><img src="/img/volver3.png"></a>
    <h1>Producto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td class="fuentenegra">{{ producto.id }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td class="fuentenegra">{{ producto.precio }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td class="fuentenegra">{{ producto.nombre }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td class="fuentenegra">{{ producto.descripcion }}</td>
            </tr>
            <tr>
                <th>Tamaño</th>
                <td class="fuentenegra">{{ producto.tamano }}</td>
            </tr>
            <tr>
                <th>Modelo</th>
                <td class="fuentenegra">{{ producto.modelo }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td class="fuentenegra">{{ producto.color }}</td>
            </tr>
            <tr>
                <th>Peso</th>
                <td class="fuentenegra">{{ producto.peso }}</td>
            </tr>
            <tr>
                <th>Peso</th>
                <td class="fuentenegra">{{ producto.categoria }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td><img class="imgsizecrud" src="/img/{{ producto.imageName }}"></td>
            </tr>
        </tbody>
    </table>

    <div id="button-container">
    <a class="btn-editar" href="{{ path('app_producto_edit', {'id': producto.id}) }}"><img src="/img/lapiz.png"></a>

    {{ include('producto/_delete_form.html.twig') }}
            ></div>
       </div>
</div>
{% endblock %}
