{% extends 'base.html.twig' %}
{% block title %}Bienvenido{% endblock %}

{% block body %}
    <div class="section">
        <div class="container">
            <div class="col-md-7">
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Mi perfil</h3>
                    </div>
                    <ul>
                        <div class='form-group'>
                        <li class='fuentenegra'><strong>Nickname:</strong> {{ usuario.nickname }}</li>
                        </div>
                        <div class='form-group'>
                        <li class='fuentenegra'><strong>Correo:</strong> {{ usuario.correo }}</li>
                        </div>
                        <div class='form-group'>
                        <li class='fuentenegra'><strong>Nombre:</strong> {{ usuario.nombre }}</li>
                        </div>
                        <div class='form-group'>
                        <li class='fuentenegra'><strong>Apellidos:</strong> {{ usuario.apellidos }}</li>
                        </div>
                        <div class='form-group'>
                        <li class='fuentenegra'><strong>DNI:</strong> {{ usuario.dni }}</li>
                        </div>
                    </ul>
                    <a href="#" class="btn btn-primary">Modificar mis datos</a>
                    <h2>Mis pedidos:</h2>
                    {% if usuario.pedidoid is not empty %}
                        <div id="slider-container">
                            <div class="slider">
                                {% for pedido in usuario.pedidoid %}
                                    <div class="slide">
                                        <strong>ID del pedido-></strong> {{ pedido.id }}<br>
                                        <strong>Productos comprados</strong>
                                        <ul>
                                            {% for key, producto in pedido.productoscomprados %}
                                                <li><strong>Nombre:</strong> {{ key }}</li>
                                                <li><strong>Cantidad:</strong> {{ producto.cantidad }} </li>
                                                <li><strong>Precio:</strong> {{ producto.precio }} €</li>
                                                <li><strong>Precio Total:</strong> {{ producto.precioTotal }} €</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="slider-controls">
                                <button class="prev-button" onclick="prevSlide()">&lt;</button>
                                <button class="next-button" onclick="nextSlide()">&gt;</button>
                            </div>
                        </div>
                    {% else %}
                        <p>No tienes pedidos.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}