{% extends 'base.html.twig' %}

{% block title %}Hello ResultadoController!{% endblock %}

{% block body %}
<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
										<!-- aside Widget -->
						<div class="aside">
						</div>
						<!-- /aside Widget -->
						<!-- aside Widget -->
						<div class="aside">
						</div>
						<!-- /aside Widget -->
						<!-- aside Widget -->
						<div class="aside">
						</div>
						

						<!-- aside Widget -->
						<div class="aside">
							</div>
							<div class="product-widget">
							</div>
							<div class="product-widget">
							</div>
						</div>
						 <!-- /aside Widget -->
					</div>
					<!-- /ASIDE -->
					<!-- STORE -->
					 <div id="store" class="col-md-9">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">
								<h3>Resultados encontrados...</h3>
							</div>
							<ul class="store-grid">
							</ul>
						</div>
						<!-- /store top filter -->
       {% if mensajeError is defined %}
                        <h2>{{ mensajeError }}</h2>
                        {% else %}
						<!-- store products -->
						<div class="row">
							<!-- product -->
                            	<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img class="img-producto-landing" src={{"img/"~producto.imageName}} alt="">
										 <div class="product-label">
											{# <span class="sale">-30%</span>
											<span class="new">NEW</span> #}
										</div>
									</div>
									<div class="product-body">
										<p class="product-category">{{producto.categoria}}</p>
										<h3 class="product-name"><a href="#">{{producto.nombre}}</a></h3>
										<h4 class="product-price">{{producto.precio}} €</h4>
										<div class="product-rating">
											{# <i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i> #}
										</div>
										<div class="product-btns">
											<button class="quick-view" onclick="window.location.href='{{ path('app_pantalla_producto', {'id': producto.id}) }}'"><i class="fa fa-eye"></i><span class="tooltipp">Ver</span></button>
										</div>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn" onclick="addToCart('{{producto.id}}')"><i class="fa fa-shopping-cart"></i>Añadir al carrito</button>
									</div>
								</div>
							</div>
							<!-- /product -->
                            {% if productosRelacionados is not null %}
                           {% for productoRelacionado in productosRelacionados %} 
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img class="img-producto-landing" src={{"img/"~productoRelacionado.imageName}} alt="">
										{# <div class="product-label">
											<span class="sale">-30%</span>
											<span class="new">NEW</span>
										</div> #}
									</div>
									<div class="product-body">
										<p class="product-category">{{productoRelacionado.categoria}}</p>
										<h3 class="product-name"><a href="#">{{productoRelacionado.nombre}}</a></h3>
										<h4 class="product-price">{{productoRelacionado.precio}} €</h4>
										<div class="product-rating">
											{# <i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i> #}
										</div>
										<div class="product-btns">
											<button class="quick-view"><i class="fa fa-eye" onclick="window.location.href='{{ path('app_pantalla_producto', {'id': producto.id}) }}'"></i><span class="tooltipp">Ver</span></button>
										</div>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn" onclick="addToCart('{{producto.id}}')"><i class="fa fa-shopping-cart"></i>Añadir al carrito</button>
									</div>
								</div>
							</div>
                             {% endfor %}
                             {% endif %}
                        {% endif %}
							<!-- /product -->


						<!-- store bottom filter -->
						<div class="store-filter clearfix">
							{# <span class="store-qty">Showing 20-100 products</span>
							<ul class="store-pagination">
								<li class="active">1</li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
							</ul> #}
						</div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

{% endblock %}
